/* skills */
.skills_section {
  padding-top: 20vh;
  /* 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.skills_title_section {
  margin: 10px 0;
  text-align: center;
}
.skills_title_section h2 {
  color: var(--text--color--1);
}
.skills_title_section p {
  color: var(--text--color--2);
  font-size: 13px;
}
.skills_cards {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.skills_cards div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
.skills_cards img {
  width: 55px;
  height: 55px;
  object-fit: contain;
}

/*  */
@media (width>=768px) {
  /* skills */
  .skills_cards div {
    margin: 9px;
  }
  .skills_cards img {
    width: 80px;
    height: 80px;
  }
}
