.about_section {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about_title_section {
  order: 1;
  width: 100%;
}
.about_title_section p {
  font-size: 13px;
  color: var(--text--color--2);
  font-family: "Noto Sans", sans-serif;
  margin: 10px 0;
}

.about_image_section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_image_section img {
  width: 100%;
  max-width: 400px;
  order: 0;
}

@media (width>=768px) {
  .about_section {
    flex-direction: row;
  }
  .about_title_section {
    width: 50%;
  }

  .about_image_section {
    width: 50%;
  }
  .about_image_section img {
    width: 100%;
  }
}
